<h1 class="my-4"><%= country.name %></h1>

<ul>
  <li>Population: <%= number_with_delimiter country.population, delimiter: ',' %></li>
  <li>Region: <%= country.region %></li>
</ul>

<p>
  <%= link_to '&#127968; Home'.html_safe, root_path %>
</p>
