<h1>News Feeds</h1>

<table class="table table-striped table-bordered">
  <tbody>
    <% news_feeds.each do |news_feed| %>
      <tr>
        <td>
          <h2><%= news_feed.title %></h3>
          <h3>Latest Headline: XXX</h3>
          <p>
            <%= truncate 'XXX', length: 150, separator: ' ' %>
          </p>
          <p>
            <%= link_to 'See all stories', news_feed_path(news_feed) %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
