<h1><%= news_feed.title %></h1>

<p>
  Editor: <%= news_feed.editor %>
</p>

<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <td>
        <h2>XXX</h3>
        <p>
          By XXX
        </p>
        <p>
          XXX
        </p>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to '< Home', root_path %>
</p>
